body {
  background-image: url(https://i.redd.it/6r8u5hy7p8q81.jpg);
  //background-color: #111;
  background-repeat: repeat-y;
  color: #fff;
font-family: Lucida Console, Courier New, monospace;
  font-size: 18px;
  font-weight:bold;
  margin: 10% 15% 10%
  
}
.exp-header {
  text-transform: uppercase;
  border-top: 4px solid #dae;
  border-bottom: 4px solid #dae;
  text-align: center;
  font-size: 22px

}
.business{
  text-decoration: underline;
  color: #fff034;
  
  
   
}

.skills {
  font-style:italic;
  color: #fff003;
}
